h2 {
  font-size: 40px;
  text-align: left;
}

h3 {
  font-size:22px;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
}

.hello {
  font-family: 'Julius Sans One', sans-serif;
  font-size:40px;
}

a {
  color:#6AA884;
}

.box {
  height:500px;
  width:500px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  padding-left:15px;
  padding-right:15px;
}

.workimages {
  width:300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:1px;
}

.list_header {
	font-size:60px;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  height: 120%; /* Full height */
  margin-top:-30px;
  margin-left:-10px;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
	text-align:center;
}

.material-icons {
  color:white;
  font-size:40px;
}

a:link {
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size:30px;

  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.me {
  margin-top:130px;
  width:100%;
  border:3px solid black;
}

.bio {
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.bio2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.bio3 {
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}


@media only screen and (max-width: 900px) {
  header {
    background-color: blue;
  }
}
