h2 {
  font-size: 40px;
  text-align: left;
}

h3 {
  font-size:22px;
  width:500px;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    width:500px;
}

.hello {
  font-family: 'Julius Sans One', sans-serif;
  font-size:100px;
}

a {
  color:#6AA884;
}

.box {
  height:500px;
  width:500px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  padding-left:15px;
  padding-right:15px;
}

.workimages {
  width:300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:1px;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height:100px;
}

li {
  float: left;
  margin-left:5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left:50px;
}


.material-icons {
  color:white;
  font-size:40px;
}

a:link {
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.me {
  margin-top:90px;
  width:130%;
  border:3px solid black;
}

.bio {
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.bio2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.bio3 {
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}


@media only screen and (max-width: 900px) {
  header {
    background-color: blue;
  }
}
