body {
  background-color:black;
}

h2 {
  font-size: 40px;
  text-align: left;
}

h3 {
  font-size:15px;
  width:200px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width:200px;
}

.hello {
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size:40px;
}

.abouttext {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
}

.subhead {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  color:white;
}

.about_embeds {
  width:20%;
  float:right;
  padding:15px;
  min-width:220px
}

.about_embedsl {
  width:20%;
  float:left;
  min-width:200px;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
}

.box {
  height:500px;
  width:100%;
  background:white;
  font-family: 'Montserrat', sans-serif;
  overflow:auto;
  padding-left:15px;
  padding-right:15px;
}

.box-content {
padding:40px;
margin:5px;
}

.workimages {
  width:300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:1px;
}

li {
  float: left;s
  color:white;
}

li a {
  color: green;
  text-align: center;
  text-decoration: none;
  margin-left:10px;
}

button {
  background:black;
  border:none;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  color:black;
  background:lightgrey;
  font-family: 'Montserrat', sans-serif;
}


.material-icons {
  color:white;
  font-size:4px;
}

a:link {
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.me {
  width:100%;
  position:center;
  text-align:center;
}

.bio {
  font-size:10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.bio2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.bio3 {
  font-size:15px;
  font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 900px) {
  header {
    background-color: blue;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}




a {
  color:white;
    font-size:20px;
}

.hed {
  color:black;
}

.btn {
  color:white;
  background:black;
  border:none;
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  padding: 2px;
  border-radius: 0px;
  font-size:20px;
}

.btn:hover {
  background:lightgrey;
  color:black;
  padding:5px;
  position:absolute;
}

.a {
  color:white;
  background:black;
  border:none;
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  padding: 2px;
  border-radius: 0px;
  font-size:12px;
}

.a:hover {
  background:lightgrey;
  color:black;
  padding:5px;
  position:absolute;
}

.dropdown {
  background:black;
  position:absolute;
}

.dropdown-menu {
  background-color:black;

}

.show {
  width:2pxß;
}

.navtext:hover {
  color:black;
}

.navtext {
  font-size:20px;
}

.dd {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  border:none;
  padding:none;
  text-align:left;
}

.btn-primary:hover {
  color:black;
  background:lightgrey;
  font-family: 'Montserrat', sans-serif;
  position:absolute;
    font-size:20px;
}



.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
color: #fff;
background-color: black;
border-color: black;
float:left;
  font-size:20px;
}

a:hover {
color: grey;
text-decoration: none;



}

.container {
  padding-top: 20px;
}

.row {
  max-width:100%;
}

li {
  list-style-type: none;
}

.col-sm-8 offset-sm-1 {
  background:darkgrey;
}

.resume {
  width:100%;
  height:400%;
}

.projimg {
  width:100%;
  position:center;
}


.projlinks {
  color:black;
}


.btn-floating {
  color:black;
}

.btn-floating:hover {
  color:grey;
  border:10px;
}

/*                                                     FILTERING */

.filterDiv {
  float: left;
  background-color: black;
  border:1px;
  color: #ffffff;
  width: 400px;
  height: relative;
  margin: 5px;
  display: none;
  text-align:center;
}

.show {
  display: block;
}

.container1 {
  margin-top: 20px;
  overflow: hidden;
  border:1px;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: darkgrey;
  cursor: pointer;
  margin:3px;
}

.btn1:hover {
  background-color: #ddd;
}

.btn1.active {
  background-color: #666;
  color: white;
}

.box-content1 {
padding: 20px;
text-align:center;
}

.graphicsimg {
  width:100%;
  min-width:200px;
}

.projimg1 {
  width:100%;
  position:center;
}

.hi {
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
}


iframe {
  width:100%;
}


.btn-floating {
	color:white;
}






